* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.A {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}
.background{
    position: relative;
    width: 100vw;
    height: 57vw;
    bottom: 10px;
}




.box{
    opacity: 0.7;
    border-radius: 50px;
    background-color: gray;
    position: absolute;
    width: 65vw;
    height: 25vw;
    top: 10vw;
    right: 15vw;
    overflow: hidden;
}
h1 {
    left: 350px;
    position: relative;
}
.box img{
    height: 200px;
    width: 200px;
    position: relative;
    left: 50vw;
    bottom: 15vw;
    border-radius: 50%;
    border: 2px solid #252d5d;
}
.box .speech{
    opacity: 1;
    color: white;
    position: relative;
    left: 30px;
    top: 5px;
}

.box .Buttons{
    color: white;
    position: relative;
    width: 300px;
    height: 200px;
    left: 100px;
    bottom: 5cm;
}
